.portfolio{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
    scroll-snap-align: start;
}

.portfolio ul{
    display:flex;
    flex-direction:row;
    font-size:18px;
    margin-top: 10px;
    font-weight:200;
}

.portfolio ul li{
    margin-left:50px
}