.App{
 
    height:100vh;
  
}

 .section{
    width:100%;
    position: relative;
    height: calc(100vh - 70px);
    top: 70px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.section::-webkit-scrollbar{
    display:none;
}


.sizeOfAll{
    width:100%;
    height: 100%;
    scroll-snap-align: start;
}










